html {
    font-family: "Segoe UI", sans-serif;
}

h1, h2, h3, h4 {
    font-family: "Segoe UI Semibold", sans-serif;
}



.u {
    text-decoration: underline;
}

.b {
    font-weight: bold;
}

.white {
    color: white;
}

.black {
    color: black;
}