@media screen and (min-width: 992px) {
    html {
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        color: black;
        height: 150%;
        background: #fafafa;
    }

    h1 {
        text-align: center;
        font-size: 80px;
        font-family: "Segoe UI Semibold", sans-serif;
    }

    h3 {
        text-align: center;
        font-size: 48px;
        font-family: "Segoe UI Semibold", sans-serif;
    }


    p {
        font-size: 32px;
        text-align: center;
    }

    a:hover {
        font-family: "Segoe UI Semibold", sans-serif;
        text-decoration: none;
    }

    a:active {
        font-family: "Segoe UI Semibold", sans-serif;
        text-decoration: underline;
    }

    a:visited {
        font-family: "Segoe UI", sans-serif;
        text-decoration: underline;
    }

    #index {
        margin-top: 100px;
        margin-bottom: 15%;
        height: 100%;
    }

    #message {
        text-align: center;
        font-size: large;
        width: 100%;
        height: auto;
        min-height: 7%;
        max-height: 18%;
        background-color: #ffdb99;
        color: #555555;
        top: 0px;
        padding: 7px;
    }

    #go2main {
        text-decoration: none;
        font-size: large;
        width: 15%;
        position: fixed;
        top: 41px;
        left: 89%;
        width: 100%;
    }

    .thank {
        color: darkblue;
        text-decoration: none;
    }

    .thank:hover, .thank:active {
        text-decoration: underline;
    }

    .version {
        font-family: 'Segoe UI Light', sans-serif;
    }

    .display-1 {
        margin-bottom: 150px;
    }
}