html {
    height: 100%;
    width: 100%;
    font-size: large !important;
}
div .table {
    display: table;
}
div .table-row{
    display: table-row;
}
.focus {
    font-size: 2.5em;
}
.focus-title {
    padding: 3%;
    color: #000050;
}
div .left-focus {
    padding: 5%;
    background-color: #ffffff;
}
.left-column, .idea{
    display: table-cell;
    vertical-align: top;
}
.left-column {
    min-width: 20%;
    max-width: 25%;
    padding-bottom: 25%;
    background: #f9f9ff
}
.main {
    min-width: 65%;
    max-width: 70%;
    vertical-align: top;
}
.idea, #eaffea-passage {
    margin: 5px;
    padding: 5px;
}
.left {
    float: left;
    padding-left: 3%;
}
.right {
    float: right;
}
#eaffea-passage {
    position: relative;
    margin-top: 5px;
    padding: 10px;
}
p #eaffea-passage {
    font-size: 1.5em;
    width: 85%;
}
.idea {
    width: 80%;
    margin-left: 8%;
}
footer {
    float: left;
    padding-left: 2%;
}