h3, caption {
    margin-left: 40px;
    width: 95%
}
th, td {
    text-align: center;
}
th:hover, td:hover {
    background-color: #9c9c9c;
    color: #ffffff;
}
ul.info {
    list-style: square inside url('/static/images/li.jpg');
}
ul.info li {
    font-size: 1.7em;
}