{% extends 'base.html' %}
{% block title %}
    About Us
{% endblock %}
{% block page_content %}
    <div style="margin-left: 10px" class="row">
        <div class="col">
            <h1>LSFD202201V3</h1>
            <div style="float:right">
                <a href="{{ url_for('main.about_zh') }}">
                    Chinese Version
                </a>
            </div>
            <p>The 3rd version of <a href="https://ls202201.pythonanywhere.com">LSFD202201 Class Website</a>

            <h2>Aim</h2>

            <p>The aim of this website is to contribute to our class in our own way and to challenge our programming skills.
            </p>
            <h3>About our class</h3>
            <p>
                LSFD 202201, located in YP District, SH, China. We are a formal school class in Lansheng Fudan Middle
                school.
                Address: 8 Shijie Rd.(near Nenjiang Rd.)</p>
            <p>
                Transportation: Shanghai Metro Line 8, Shanghai Metro Line 10, 90, 966, 55, 大桥三线
            </p>
            <h2>Contributors</h2>
            <a href="https://github.com/z-t-y"> Andy Zhou</a><br>
            <h2>Special Thanks To</h2>
            <ul>
                <li><a href="https://github.com/pallets/flask">Flask</a></li>
                <li><a href="https://github.com/twbs/bootstrap">Bootstrap</a></li>
                <li><a href="https://github.com/greyli/bootstrap-flask">Bootstrap-Flask</a></li>
                <li><a href="https://github.com/lepture/flask-wtf">Flask-WTF</a></li>
                <li><a href="https://github.com/greyli/flask-share">Flask-Share</a></li>
                <li><a href="https://pypi.org/project/MyQR/">MyQR</a></li>
            </ul>
            <p>
                Without these open-source projects, the website cannot be developed.
            </p>
            <p>
                At the same time, thanks to <a href="https://greyli.com">GreyLi</a>, it was his <i>Python Web Development with Flask</i>
                that took me into the wonderful world of Flask.
            </p>
        </div>
        <div class="col">
            <h2>Share Our Website</h2>
            <img src="/static/images/qrcode.png" alt="QRCode" class="img-fliud">
            <div style="margin-left: 30px">
                {{ share.create(title='Share with', align='left')}}
            </div>
        </div>
    </div>
{% endblock %}
