<!DOCTYPE html>
<html>
<head>
    <title>Index</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <link href="/static/css/index_fonts.css" rel="stylesheet">
    <link href="/static/css/index_desktop.css" rel="stylesheet">
    <link href="/static/css/index_mobile.css" rel="stylesheet">
    <link href="/static/favicon/favicon.ico" rel="shortcut icon">
    {{ bootstrap.load_css() }}
    {{ bootstrap.load_js() }}
    <script>
        $('#more').click(function () {
            $('div#previous').show();
            $('button#more').hide();
        })

        $(function () {
            var selector = $('div#index p');
            selector.hide()
            window.scrollTo(0, 0);
            var j = 0;
            var len = selector.length;
            var interval = setInterval(function () {
                    selector.eq(j > len - 1 ? j = 0 : j++).fadeIn(1500);
                }
                , 750
            );
        })
    </script>
</head>
<body>
<div class="container-fluid" style="background-color: #fafafa;color: #333333;">
    <div id="mob-full-screen">
        <div id="message">
            <div id="message-content">
                Special thanks for
                <a class="thank" href="https://pythonanywhere.com" target="_blank">
                    PythonAnywhere
                </a>,
                <a class="thank" href="https://bilibili.com" target="_blank">
                    Bilibili
                </a>,
                <a class="thank" href="https://flask.pocoo.org" target="_blank">
                    Flask
                </a>
                and
                <a class="thank" href="https://getbootstrap.com/" target="_blank">
                    Bootstrap.
                </a>
                They provided us servers and media players.
                <div id="button">
                    <a id="link" href="{{ url_for('main.main') }}">
                        Go to main page &gt;&gt;
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div style="margin:0; width:auto; padding:10%;border-bottom: solid #ccc;max-height: 100%;padding: 15%;" id="index">
        <p class="display-1" style="font-weight: 600">
            Hello.
        </p>
        <p id="kf2">This is a new website for lansheng 202201.</p>
        <p class="version" id="kf3">Website Version 3.8.4</p>
    </div>
</div>
</body>
</html>