{% extends 'base.html' %}
{% block title %}
    About Us
{% endblock %}
{% block styles %}
    {{ super() }}
    <link href="/static/css/about_desktop.css" rel="stylesheet">
{% endblock %}
{% block page_content %}
    <div class="container" style="font-size: 1.5em">
        <div class="address">
            <h3>About our class</h3><hr>
            LSFD 202201, located in YP District, SH, China.
            We are a formal school class from Lansheng Fudan Middle school.
            Address: 8 Shijie Rd.(near Nenjiang Rd.)
            Transportation: Shanghai Metro Line 8, Shanghai Metro Line 10, 90, 966, 55, 大桥三线
        </div>
        <div class="author">
            <h3>Maintainers:</h3><hr>
            <a href="https://github.com/z-t-y">Andy Zhou</a> and
            <a href="https://github.com/rice0208">Rice Zong</a>.<br>
        </div>
    </div>
{% endblock %}