{% extends 'readme_en.html' %}
{% block page_content %}
    <div style="margin-left: 100px">
        <h1>LSFD202201</h1>
        <p>兰生复旦中学2022届1班<a href="https://ls202201.pythonanywhere.com">班级网站</a></p>
        <h2>目标</h2>
        <p>这个项目旨在以我们自己的方式为班级做贡献以及锻炼我们的编程能力</p>
        <h2>关于我们班</h2>
        <p>兰生复旦中学，位于上海杨浦区世界路八号。2022届1班（我们班）是其中的一个班级。<br>
            交通方式：轨道交通8号线嫩江路站、轨道交通10号线三门路站、90路公交车、966路公交车、55路公交车、大桥三线</p>
        <h2>项目参与者</h2>
        <p><a href="https://github.com/z-t-y">Andy Zhou</a><br>
            <a href="https://github.com/rice0208">Rice Zong</a><br>
        <h2>致谢</h2>
        <ul>
            <li><a href="https://github.com/pallets/flask">Flask</a></li>
            <li><a href="https://github.com/twbs/bootstrap">Bootstrap</a></li>
            <li><a href="https://github.com/greyli/bootstrap-flask">Bootstrap-Flask</a></li>
            <li><a href="https://github.com/lepture/flask-wtf">Flask-WTF</a></li>
            <li><a href="https://github.com/greyli/flask-share">Flask-Share</a></li>
            <li><a href="https://pypi.org/project/MyQR/">MyQR</a></li>
        </ul>
        <p>没有这些非常好的开源项目，这个项目是不可能开发得了的。</p>
        <p>同时，感谢<a href="https://greyli.com">GreyLi</a>，是他的《Flask Web开发实战》带我走进了Flask的世界</p>
    </div>
    <div class="col">
        <h2>分享我们的网站</h2>
        <img src="/static/images/qrcode.png" alt="QRCode" class="img-fluid">
        <div style="margin-left: 30px">
            {{ share.create(title="Share with", align="left")}}
        </div>
    </div>
{% endblock %}