{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block title %} ADMIN {% endblock %}
{% block page_content %}
<h1>Welcome, Administrator {{ name }}!</h1>
<div class="container">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-info" class="close">
        <button type="button" class="close" data-dismiss="alert">&times;
        </button>
        {{ message }}
    </div>
    {% endfor %}
</div>
<ul class="list-group">
    {% for article in articles %}
    <li class="list-group-item">
        <h4>{{ article.title }}</h4>
        <p style="float:right">{{ article.author }}</p>
        <p style="text-indent: 2em">
            {{ article.content[:50] }} ...
        </p>
        <p>
            id: {{ article.id }}
        </p>
    </li>
    {% endfor %}
</ul>
{{ wtf.quick_form(form, action="/admin-delete") }}
{% endblock %}
