{% extends 'main.html' %}
{% from 'bootstrap/pagination.html' import render_pagination %}
{% block title %}
    Articles
{% endblock %}
{% block focus %}Necessary Info{% endblock %}
{% block news_list %}
    <ul style="line-height: 1.5em;">
        <li>
            This page is made in Python Flask + HTML, you can upload your
            own article
            <a href="{{ url_for("upload") }}">HERE</a>.
        </li>
        <li>
            This version support MarkDown Editing. That means you should
            learn basic markdown syntax to upload.<br>
        </li>
        <li>
            <a href={{ url_for("markdown_help") }}>Simple MarkDown Guide</a>
        </li>
    </ul>
{% endblock %}
{% block idea %}
    <h2 style="float:left;font-size:48px;">
        {{ this_article.title }}
    </h2>
    <br>
    <h4 style="float:right">
        {{ this_article.time }}
    </h4><br><br>
    <h4 style="position: absolute; right: 100px">
        ——{{ this_article.author }}
    </h4>
{% endblock %}
{% block article_content %}
    {{ content | safe }}
{% endblock %}
{% block pagination %}
    {{ render_pagination(pagination) }}
{% endblock %}