{% extends 'main.html' %}
{% block title %}
    Articles
{% endblock %}
{% block focus %}Necessary Info{% endblock %}
{% block news_list %}
    <ul style="line-height: 1.5em;">
        <li>
            This page is made in Python Flask + HTML, you can upload your
            own article
            <a href="{{ url_for("upload") }}">HERE</a>.
        </li>
        <li>
            This version support MarkDown Editing. That means you should
            learn basic markdown syntax to upload.<br>
        </li>
        <li>
            <a href={{ url_for("markdown_help") }}>Simple MarkDown Guide</a>
        </li>
    </ul>
{% endblock %}
{% block idea %}
    <h2 style="float:left;font-size:48px;">
        {{ title }}
    </h2>
    <br>
    <h4 style="float:right">
        {{ time }}
    </h4><br><br>
    <h4 style="position: absolute; right: 100px">
        ——{{ author }}
    </h4>
{% endblock %}
{% block article_content %}
    {{ content | safe }}
{% endblock %}
{% block pagination %}
    <ul class="pagination">
        {% for id, article in enumerate_items %}
            <li class="page-item"><a href="{{ url_for('articles', id=id) }}" class="page-link">
                {{ id }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}