{% extends 'base.html' %}
{% block title %}
Welcome!
{% endblock %}
{% block page_content %}
<div class="jumbotron" style="margin: 10px 10% 10px 10%">
    <div class="row">
        <div class="col-lg-6">
            <img src="{{ url_for("static", filename="images/lsfd.png") }}"
            alt="lsfd" class="rounded img-fluid">
        </div>
        <div class="col-lg-6">
            <h1>LS202201</h1>
            <p>
                Welcome to the Website of Lansheng Fudan Middle School
                Class 202201!
            </p>
        </div>
    </div>
</div>
{% endblock %}