{% extends 'base.html' %}

{% block special_css %}
<link href="/static/css/index.css" rel="stylesheet">
{% endblock %}
{% block title %}
Index
{% endblock %}
{% block body %}

    <div style="width:100%;height: auto; min-height:7%;background-color:coral;position:fixed;top:0;padding-top:5px">
        <p style="color: white; float: left; text-align:left; font-size:18px; margin-top:5px;
                margin-left: 5%; overflow: hidden; padding-top: 5px">
            Special thanks for
            <a class="thank" href="https://pythonanywhere.com" target="_blank">
                PythonAnywhere
            </a>,
            <a class="thank" href="https://bilibili.com" target="_blank">
                Bilibili
            </a>
            and <a class="thank" href="https://getbootstrap.com/" target="_blank">
                Bootstrap
            </a>
            They provided us servers and media players.
        </p>
        <div id="button">
        <a style="color:black;text-decoration:none;font-family:'Segoe UI'" href="/main">
            Go to our website &gt&gt
        </a>
    </div>
    </div>
    <div style="background-color: black;color:white;margin:0;width:auto;padding:10%">
        <h1 style="font-size: 7em; margin-bottom: 100px">Hello.</h1>
        <p>This is a new website for lansheng 202201.</p>
        <p style="font-family:'Segoe UI light'">Website V3.0.0 Beta4</p>
    </div>
    <noscript style="text-align:center;font-size:16px;font-family:'Courier New';color:red;">
        <b>
            WARNING: your browser don't allow javascript!<br>&nbsp&nbsp&nbsp[(Chrome, MsEdge, ...)
            setting - site permissions - javascript , then refresh this page!]
        </b>
    </noscript>
    <h3>Latest Changes</h3>
    <div style="text-align:center">
        <p style="font-family: 'Segoe UI Light'">V3.0.0 Beta4</p>
        <img style="width:10%" src="https://tse3-mm.cn.bing.net/th/id/OIP.c4RBIyTHaeRH08T4bp_waAHaGO?w=193&h=180&c=7&o=5&dpr=1.25&pid=1.7"
            alt="bootstrap">
        <p>×</p>
        <img style="width:20%" src="https://www.pythonanywhere.com/static/anywhere/images/PA-logo.svg"
            alt="PA">
        <p>
            开天辟地，焕然一新。
        </p>
        <p>The website now support uploading your own articles.<br>
            You can upload them <a href="/upload">HERE</a>
        </p>
    
    <h3>Previous Versions</h3>
    <div style="text-align:center;">
        <p style="font-family:'Segoe UI Light'">V1.4.0 Inside × 2.2.0 Stable</p>
        <img style="width:5%" src="https://github.githubassets.com/pinned-octocat.svg">
        <p>×</p>
        <img style="width:20%" src="https://www.pythonanywhere.com/static/anywhere/images/PA-logo.svg">
        <p>We are linked!<br>GitHub & PythonAnywhere</p>
    <div style="text-align:center;">
        <p style="font-family:'Segoe UI Light'">V2.2.0 Stable</p>
        <img style="width:20%" src="/static/images/bilibili.jpg">
        <p>Video is released and played in Bilibili!</p>
    </div>
    </div>
    <div style="text-align:center;">
        <p style="font-family:'Segoe UI Light'">V1.3.7 Inside × 2.1.8 Stable</p>
        <img style="width:20%" src="/static/images/cssdebug.jpg">
        <p>CSS 3 debugged. Added Articles into the site.</p>
    </div>
    <div style="text-align:center;">
        <p style="font-family:'Segoe UI Light'">V1.3.5 Beta</p>
        <p>We've tried, and MsEdge is the fastest.
        <a href="https://www.microsoft.com/en-us/edge?form=MA13DC&OCID=MA13DC" target="_blank">go&gt&gt</a></p>
    </div>
    <div style="text-align:center;">
        <p style="font-family:'Segoe UI Light'">V1.3.1 Beta</p>
        <img style="width:20%" src="/static/images/colorful.png">
        <p>Think the only color is boring? Try this colorful version!</p>
    </div>
    <div style="text-align:center;">
        <p style="font-family:'Segoe UI Light'">V1.2.7 Alpha × V2.1.0 Stable</p>
        <img style="width:20%" src="/static/images/computer.png">
        <p>HTML 5 + CSS 3 + JavaScript + Python 3, quadruple code type, better experience.</p>
    </div>
{% endblock %}