{% extends 'base.html' %}
{% block title %}
    Main
{% endblock %}
{% block styles %}
    {{ super() }}
    <link href="/static/css/main_mobile.css" rel="stylesheet">
    <link href="/static/css/main_desktop.css" rel="stylesheet">
{% endblock %}
{% block page_content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 left-column bg-light">
                <div class="focus-title">
                    <h3 class="focus">
                        {% block focus %}
                            Focus
                        {% endblock %}
                    </h3>
                </div>
                <div id="left-focus">
                    <hr>
                    {% block news_list %}
                        <ul>
                            <li>
                                Breaking news!<br>You can add your own articles!<br>Have fun!
                            </li>
                        </ul>{% endblock %}
                </div>
            </div>
            <div class="col-lg-9">
                <div class="idea">
                    {% block idea %}
                        <h2 style="float:left;font-size:48px;">
                            2020，我们来了
                        </h2><br>
                        <h4 style="float:right">
                            2020-01-16
                        </h4><br><br>
                        <h4 style="position: absolute; right: 100px">
                            ——HCR
                        </h4>
                    {% endblock %}
                </div>
                <br>
                <div class="main-passage">
                    <p class="main-passage" style="text-indent: 2em;">
                        {% block article_content %}
                            告别平凡的 2019 年，我们七（1）班全体师生迎来了全新的2020 年,
                            全体同学都以饱满的热情迎接新一年的到来。过去的 2019年 给了我们很多回忆，
                            回忆大家在一起拼搏时的泪水、苦恼， 但更多的则是欢笑和收获、以及大家携手共同进步、
                            一起成长的经历。 “我们都可以是时代英雄，都可以自己主宰自己的人生”，
                            对于我们每一个人来说，新年是一个新的开始，是我们忘掉过去的荣誉与失败，
                            重新挺直腰杆， 大步向前迈的起点。新年第一天的阳光，带来新的希望，我们满怀理想，
                            向着新的目标进发。梦想，属于每位勇敢者、拼搏者、追梦者，
                            属于我们有新年愿望和追求的全体一班，我们只有付出行动， 迈出坚实的脚步，
                            才能达到成功的彼岸，才能够实现自己新年的愿望。
                        {% endblock %}
                    </p>
                </div>
                {% block pagination %}{% endblock %}
            </div>
        </div>
    </div>
{% endblock %}