{% extends 'base.html' %}
{% block title %}
    MarkDown Help
{% endblock %}
{% block page_content %}
    <div class="page-header">
        <h1>Simple MarkDown Guide</h1></div>
    <ul class="list-group">
        <li class="list-group-item">
            To add Chinese spaces, use {{ "&emsp;" }}</li>
        <li class="list-group-item">
            To add English spaces, use {{ "&nbsp;" }}</li>
        <li class="list-group-item">
            To add paragraphs, leave one blank line between your paragraphs please.<br></li>
        <li class="list-group-item">
            For more tricks in MarkDown, go to
            <a href="https://www.runoob.com/markdown/md-tutorial.html">Runoob Courses</a>
            or
            <a href="https://www.markdownguide.org/">MarkDown Guide</a>
        </li>
    </ul>
{% endblock %}