{% extends 'base.html' %}
{% block title %}
    川建国
{% endblock %}
{% block page_content %}
    <h1>青花瓷  ——川建国</h1>
    <iframe src="//player.bilibili.com/player.html?aid=96471137&bvid=BV1f7411Z7vQ&cid=164677492&page=1"
            width="95%" height="800px"
            scrolling="no" border="0" frameborder="no" framespacing="0" allowfullscreen="true"></iframe>
    <h1>起风了 ——川建国</h1>
    <iframe src="//player.bilibili.com/player.html?aid=55777931&bvid=BV1J441157MP&cid=97509676&page=1"
            width="95%" height="800px"
            scrolling="no" border="0" frameborder="no" framespacing="0" allowfullscreen="true"> </iframe>
{% endblock %}
