{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}
    Upload Article
{% endblock %}
{% block styles %}
    {{ super() }}
    <link href="/static/css/upload.css" rel="stylesheet">
{% endblock %}
{% block scripts %}
    {{ super() }}
    <script src="/static/js/Converter.min.js"></script>
    <script src="/static/js/Sanitizer.min.js"></script>
{% endblock %}
{% block page_content %}
    <div class="body">
        <h1 id="upload-article">Upload Article</h1>
        <form method="POST" action="{{ url_for('upload_result') }}" id="upload-form" role="form">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.name.label }}<br>
                {{ form.name(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.password.label }}<br>
                {{ form.password(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.time.label }}<br>
                {{ form.time(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.title.label }}<br>
                {{ form.title(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.pagedown.label }}<br>
                {{ form.pagedown(only_input=True, rows=15, cols=50, class="form-control") }}
                {{ form.pagedown(only_preview=True) }}

            </div>
            {{ form.submit(class="btn btn-default btn-lg") }}
        </form>
        <p style="font-weight: bold; font-size: 20px; max-width: 30%; min-width:20%">
            WARNING: YOU MUST CHECK YOUR ARTICLE BEFORE UPLOADING.<br>
            IT CANNOT BE CHANGED IF YOU DON'T CONTACT THE
            <a href="mailto:andyforever0108@outlook.com">ADMIN</a>.<br>
        </p>
    </div>

{% endblock %}
